<ion-app>

  <ion-content>

    <h1 class="titulo_h1"><strong> Registro</strong></h1>

    <div class="animated-background">
<!--icono arriba del texto-->
      <div class="icono">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

<!--texto e icono de bienvenida-->    
      <div class="container">
        <p class="texto"> <strong> Bienvenido a <br> Tasks & Notes </strong> </p>
        <ion-icon style="font-size: 30px;" name="clipboard-outline"></ion-icon>
      </div>

<!--item de inicio de sesion y boton-->
      <!--email-->
      <ion-item class="usuario">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" labelPlacement="floating" label ="Email " [(ngModel)]="email" name="email"  placeholder="Ingresa correo electronico"></ion-input>
      </ion-item>

      <!--usuario-->
      <ion-item class="item">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" labelPlacement="floating" label ="Usuario " [(ngModel)]="usuario" name="usuario"  placeholder="Ingresa usuario"></ion-input>
      </ion-item>

      <!--contraseña-->
      <ion-item class="item">
        <ion-icon [name]="showPassword_2 ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
        <ion-input [type]="showPassword_2 ? 'text' : 'password'" labelPlacement="floating" label ="Contraseña" [(ngModel)]="password" name="password" placeholder="Ingresa la contraseña"></ion-input>
        <ion-icon slot="end" [name]="showPassword_2 ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility_2()"></ion-icon>
      </ion-item>

      <!--repetir contraseña-->
      <ion-item class="password">
        <ion-icon [name]="showPassword_1 ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
        <ion-input [type]="showPassword_1 ? 'text' : 'password'" labelPlacement="floating" label ="Repetir Contraseña" [(ngModel)]="repeatpassword" name="repeatpassword" placeholder="Ingresa nuevamente la contraseña"></ion-input>
        <ion-icon slot="end" [name]="showPassword_1 ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility_1()"></ion-icon>
      </ion-item>
      <ion-button class="boton" (click)="ingresar()"  expand="block" id="login">
       Iniciar Sesión
      </ion-button>

    </div>
  </ion-content>

</ion-app>